<html>
<head>
  <title>Vyúčtování</title>
  <style>
    table {
      border: 1px solid black;
    }
  </style>
</head>
<body>
<h2>Přehled částek předepsaných k úhradě</h2>
Níže uvedení uživatelé mobilních telefonů překročili v KVĚTNU 2016 stanovený měsíční limit nákladů
  <table>
    <tr>
    <th>Poř. čslo</th>
    <th>Jméno uživatele</th>
    <th>Číslo mobilního telefonu</th>
    <th>Fakturovaná částka za telekomunikační služby celkem (v Kč)</th>
    <th>Z toho částka za služby třetích stran (v Kč)</th>
    <th>Měsíční limit (v Kč)</th>
    <th>Rozdíl mezi fakturovanou částkou sníženou o čstku za služby třetích stran a měsíčním limitem (v Kč)</th>
    <th>Předepsaná částka k úhradě<sup>1)</sup> (v Kč)</th>
    <th>Předepsaná částka k úhradě<sup>2)</sup> (zaokrouhledno v Kč)</th>
    </tr>
    <%= @vars %>
    <%
      i=1
      @data = @memory["o2data"]
    %>
    <% for item in @data %>
        <tr>
          <td><%= i %></td>
          <td><%= item["jmeno"] %></td>
          <td><%= format(item["mobil"]) %></td>
          <td><%= format(item["celkem"]) %></td>
          <td><%= format(item["treti_strana"]) %></td>
          <td><%= format(item["limit_kc"]) %></td>
          <td><%= format(item["uctovano_bez_limitu"]) %></td>
          <td><%= format(item["zaplatit"]) %></td>
          <td><%= format(item["zaplatit_zaokr"]) %></td>
        </tr>
        <% i=i+1 %>
    <% end %>
    <tr>
      <td class="vystavil" colspan="3">Vystavil: Hana Matrasová</td>
      <td class="prikazce" colspan="6">Podpis příkazce operce:<br /><br />V Praze dne:</td>
    </tr>
  </table>
<p><sup>1)</sup> Předepsaná částka k úhradě (nezaokrouhlená je vypočtena jako součet částky za služby třetích stran a částky překročení měsíčního limitu.</p>
<p><sup>2)</sup> Předepsaná částka k úhradě se zaokrouhluje na celé koruny do výše 50 haléřů směrem dolů a částka od 50 haléřů včetně směrem nahoru.</p>
</body>
</html>